@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: url(../src/assets/bgBody.png) no-repeat center/cover;
  height: 100vh;
}

.search {
  background: url(../src/assets/nav.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 446px;
}

.search-event {
  align-self: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}

.search-title {
  color: #DC56C5;
  width: 600px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #dc56c5;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.search-inputs {}

.in_concert {
  position: relative;
}

.in_concert::after {
  content: '';
  position: absolute;
  background: url(../src/assets/search_concert.png) no-repeat center/cover;
  width: 12px;
  height: 12px;
  right: 55px;
  top: 3px;
}

.search-inputs-concert {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 0px 10px 30px;
  border-radius: 20px;
  margin-right: 30px;
}

.search-inputs-concert-button {}

.search-inputs-concert-button-start {}

.in_country {
  position: relative;
}

.in_country::after {
  content: '';
  position: absolute;
  background: url(../src/assets/seach_country.png) no-repeat center/cover;
  width: 15px;
  height: 10px;
  right: 25px;
  top: 6px;
}

.search-inputs-country {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 0px 10px 30px;
  border-radius: 20px;
}


.search-inputs-country-button {}

.search-inputs-country-button-start {}

.cards{
  
}

.cards-card {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.cards-card-img {
  width: 180px;
  height: 227px;
  border-radius: 50px 0;
}

.cards-card-title {
  color: #DC56C5;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.cards-card-time {
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  margin: 5px 0 5px 0;
}

.cards-card-place {
  color: #FFFFFF;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal {
  background: #FFF2FD;
  border-radius: 240px 0;
  width: 700px;
  max-height: 520px;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 30px;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.modal-logo {
  min-width: 132px;
  min-height: 132px;
   max-width: 133px;
  max-height: 133px;
  border-radius: 50%;
  object-fit: cover;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  cursor: pointer;
}
.modal-container {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.modal__poster {
  width: 360px;
  margin-top: 40px;
  object-fit: cover;
  min-height: 650px;
}
.modal-container-data {
   margin-top: 16px;
}

.footer-page {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0;
  width: 25px;
  height: 25px;
}

.footer-last {
  color: #939393;
  display: flex;
  justify-content: center;
}

input:focus-visible {
  outline: none;
}